$border-color: #ccc;
$bg-color: #eee;

.ContestList {
  border: 1px solid $border-color;
  margin: 1em;

  ul {
    padding-left: 0;
  }
}

.ContestPreview {
  cursor: pointer;
  list-style-type: none;

  .category-name {
    background-color: $bg-color;
    border-bottom: 1px solid $border-color;
    font-weight: bold;
    padding: .25em .5em;
  }

  .contest-name {
    padding: .5em;
  }
}
