.ContestList {
  border: 1px solid #ccc;
  margin: 1em; }
  .ContestList ul {
    padding-left: 0; }

.ContestPreview {
  cursor: pointer;
  list-style-type: none; }
  .ContestPreview .category-name {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    padding: .25em .5em; }
  .ContestPreview .contest-name {
    padding: .5em; }
